<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=yes">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>

    <script>
        angular.module('DemoApp', [])
            .controller('DemoController', function ($scope, $http) {
                $scope.message = "Hello World";

                $http({
                    method: "GET",
                    url: "network/"
                }).then(function mySuccess(response) {
                    $scope.network = response.data;
                    console.log($scope.network);
                }, function myError(response) {
                    $scope.network = response.statusText;
                    console.log(response);
                });

                $http({
                    method: "GET",
                    url: "system/"
                }).then(function mySuccess(response) {
                    $scope.system = response.data;
                    console.log($scope.system);
                }, function myError(response) {
                    $scope.system = response.statusText;
                    console.log(response);
                });


                $scope.ipOrder = function (row) {
                    var octet = row.ip.split('.');
                    return parseInt(octet[3]);
                }

            });

    </script>

</head>
<body ng-app="DemoApp" ng-controller="DemoController">

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>Sistema</h2>
            Sistema: {{system.OS}}<br/>
            IP: {{system.ip}}<br />
            CPU Temp: {{system.CpuTemp}}<br/>
            Disk: {{system.DiskUsage}} of {{system.DiskTotal}}
            <hr />
        </div>
    </div>
    <div class="row">

        <div class="col-md-12">
            <h2>Rede</h2>
            <div>Rede: {{network.NetworkAddress}} | {{network.NetworkFamily}} | {{network.NetworkBearer}}</div>
            <div>Hosts: {{network.Hosts.Host.length}} - {{filtered_up.length}} up, {{filtered_down.length}} down</div>
            <div>Last update: {{network.mtime}}</div>

            <table class="table table-sm table-striped table-bordered">
                <tr>
                    <th>Name</th>
                    <th>Hostname</th>
                    <th>HW_ADDR</th>
                    <th>IP_ADDR</th>
                    <th>Vendor</th>
                    <th>State</th>
                    <!--       <th>Time</th>-->
                </tr>
                <tr ng-repeat="host in network.Hosts.Host|filter:'Up' as filtered_up">
                    <td ng-class="bg-danger">{{host.Name}}</td>
                    <td>{{host.Hostname}}</td>
                    <td>{{host.HardwareAddress}}</td>
                    <td>{{host.Address}}</td>
                    <td>{{host.Vendor}}</td>
                    <td>{{host.State}}</td>
                    <!--   <td>{{host.LastChangeTime}}</td>-->
                </tr>
            </table>

            <table class="table table-sm table-striped table-bordered">
                <tr>
                    <th>Name</th>
                    <th>Hostname</th>
                    <th>HW_ADDR</th>
                    <th>IP_ADDR</th>
                    <th>Vendor</th>
                    <th>State</th>
                    <!--   <th>Time</th>-->
                </tr>
                <tr ng-repeat="host in network.Hosts.Host|filter:'Down' as filtered_down">
                    <td ng-class="bg-danger">{{host.Name}}</td>
                    <td>{{host.Hostname}}</td>
                    <td>{{host.HardwareAddress}}</td>
                    <td>{{host.Address}}</td>
                    <td>{{host.Vendor}}</td>
                    <td>{{host.State}}</td>
                    <!-- <td>{{host.LastChangeTime}}</td>-->
                </tr>
            </table>
        </div>

    </div>
</div>

</body>
</html>